* {
  margin: 0;
  padding: 0;
}

body {
  background: url("ragnarHD.jpg");
  background-size: 150%;
  background-position: -400px 0px;
  /* background-position: auto; */
}
div.main {
  width: 500px;
  margin: 100px auto 0px auto;
}
h2 {
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}
div.register {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 15px;
  color: #fff;
}
form#register {
  margin: 40px;
}
label {
  font-family: sans-serif;
  font-style: italic;
  font-size: 18px;
}
input#name {
  width: 400px;
  border: 1px solid rgb(241, 95, 164);
  /* color: greenyellow; */
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  background-color: rgb(238, 228, 228);
  box-shadow: inset 1px 1px 10px;
}
input#submit {
  width: 200px;
  font-size: 16px;
  padding: 7px;
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(223, 228, 216);
  background-color: rgba(255, 100, 0, 0.7);
  cursor: pointer;
  border: rgba(255, 255, 255, 0.3);
  border-radius: 5px;

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}
label,
span,
h2 {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
